.btn {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    padding: 8px 12px;
    width: 100px;
    height: 40px;
    background: #0079bf;
    border: 4px solid #0079bf;
    border-radius: 5px;
    cursor: pointer;
}

.btn-border {
    border: 1.5px solid #0079bf;
    background-color: #fff;
    color: #0079bf;

    &:hover {
        background-color: #f4f5f7;
    }
}

.btn-fill {
    border: 1.5px solid #0079bf;
    background-color: #0079bf;
    color: #fff;
    
    &:hover {
        background-color: #026aa7;
    }
}

.btn-icon {
    font-size: 18px;
    color: #a0a4ac;
    margin-left: 20px;
    cursor: pointer;

    &:hover {
        color: #4c4c4c;
    }
}

.back {
    transform: scale(-1, 1);
}
