.card-todo {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;
    padding: 1rem;
    border-radius: 12px;
    padding: 3rem;
}
.col-todo{
    background-color: rgba(16, 119, 13, 0.2);
    border: 1px solid rgb(16, 119, 13);
}

.col-warning{
    background-color: rgba(179, 53, 18, 0.2);
    border: 1px solid rgb(179, 53, 18);
}

