.time {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.08em;
    color: $color-white;
    padding: 16px 32px;
    background: $color-background-time;
    border-radius: 5px;
    border: 1px solid $color-white;
}
